*{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}
body{
    background: #E2D0BE40;
    overflow: hidden;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: mont-extrabold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: mont-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: mont-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: mont-light;
    src: url(../fonts/Montserrat-Light.ttf);
}



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    background: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EF5941;
}


.label{
    color: #3D3D4E;
    font-family: mont-bold;
    font-size: 14px;
    line-height: 20px;
}
.label:hover {
    color: #EF5941;
}
.labelred{
    color: #EF5941;
    font-family: mont-bold;
    font-size: 14px;
    line-height: 20px;
}
.label2{
    color: #3D3D4E;
    font-family: mont-medium;
    font-size: 14px;
    line-height: 20px;
}
.labelwhite{
    color: #FFF;
    font-family: mont-bold;
    font-size: 14px;
    line-height: 20px;
}

.headline4{
    color: #3D3D4E;
    font-family: mont-medium;
    font-size: 18px;
    line-height: 28px;
}
.headline4red{
    color: #EF5941;
    font-family: mont-medium;
    font-size: 18px;
    line-height: 28px;
}
.headline4white{
    color: white;
    font-family: mont-medium;
    font-size: 18px;
    line-height: 28px;
}
.headline3{
    color: #3D3D4E;
    font-family: mont-extrabold;
    font-size: 28px;
    line-height: 40px;
}
.body1{
    color: black;
    font-family: mont-light;
    font-size: 16px;
    line-height: 26px;
}
.body2{
    color: black;
    font-family: mont-light;
    font-size: 14px;
    line-height: 22px;
}

.background_header{
    background-color: white;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
    top:0;
    z-index: 2;
    padding: 18px 160px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 18px;
    width: auto;
}
.header-btn{
    padding: 8px 23px;
    border: none;
    background-color: #EF5941;
    border-radius: 8px;
}
.header-btn:hover{
    padding: 8px 19.5px;
    font-size: 16px;
}
.header_li {
    margin: 0 30px;
}

.account_btn{
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: end;
}
.download_img{
    margin-left: 8px;
    cursor: pointer;
}

.collapse{
    animation-name: collapse_close;
    animation-duration: 0.2s;
    display: none;
    visibility: hidden;
    text-align: right;
}
.collapse_open{
    animation-name: collapse_open;
    animation-duration: 0.2s;
    display: block;
    visibility: visible;
    margin-top: 40px;
    text-align: right;
}

@keyframes collapse_open {
    from {
        display: block;
        visibility: visible;
        height:0;
        opacity: 0;
    }
    50%{
        height: 74px;
    }
    to {
        opacity: 1;
    }
}

@keyframes collapse_close {
    from {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    50%{
        height: 74px;
    }
    to {
        display: none;
        visibility: hidden;
        height:0;
        opacity: 0;
    }
}


@media screen and (max-width:900px){
    .header_right{
        display: none;
        visibility: hidden;
    }
    .header_nav{
        display: none;
        visibility: hidden;
    }
    .header_menu{
        height: 28px;
        width: 28px;
        margin: -4px 0;
        background-image: url("../images/menu.png");
        background-size: cover;
        transition: 0.2s;
    }
    .background_header{
        padding: 18px 8%;
    }
}